---
import BreadCrumbs from "../components/ui/BreadCrumbs";
import FormContextIndicator from "../components/ui/FormContextIndicator";
import Layout from "../layouts/Layout.astro";
import { FormFieldComponent } from "../components/ui/FormFieldControl";
import PayslipGeneratePreview from "../components/payslips/PayslipGeneratePreview";
---

<style></style>

<Layout title="HRPayHub :: Create Payslip">
  <!-- Main content starts here -->
  <main>
    <!-- First section of Back button and Breadcrumb -->
    <section class="p-4">
      <div class="screenFrame">
        <!-- Back Navigation button and BreadCrumbs -->
        <div class="d-flex flex-md-row flex-column gap-md-5 gap-1 w-full">
          <a
            href="payslip.html"
            title="Back to Payslip"
            class="d-flex gap-2 align-items-center text-decoration-none text-primary-dark"
          >
            <img src="images/png/icons/angle-left.svg" alt="angle-left-back" />
            <span class="fs-16 fw-bold font-avenir-bold">Back</span>
          </a>

          <!-- Actual Breadcrumb here -->
          <BreadCrumbs
            data={[
              { name: "Dashboard", url: "index.html" },
              {
                name: "Send & Sign Offer – NG",
                url: "send-and-sign-offer.html",
              },
              { name: "Create Offer Letter" },
            ]}
          />
          <!-- Actual Breadcrumb here -->
        </div>
        <!-- Back Navigation button and BreadCrumbs -->
      </div>
    </section>
    <!-- First section of Back button and Breadcrumb -->

    <!-- First section of Back button and Breadcrumb -->
    <section class="px-4" id="create_payslip">
      <div class="screenFrame">
        <div class="rounded-4 shadow p-4 pt-5 vstack gap-5 px-5">
          {/* Page Content Box */}
          <form
            method="POST"
            id="creat_payslip_form"
            class="create_payslip_form"
          >
            <div class="pe-lg-5 pe-0">
              <!-- Tab Panel -->
              <ul
                class="nav gap-4 flex-column sticky-lg-top bg-white text-nowrap"
                style="top: 110px"
                id="myTab"
                role="tablist"
              >
                <li
                  class="tab_link d-flex gap-3 align-items-center tab_indicator active"
                  role="presentation"
                >
                  <div class="flex-shrink-0">
                    <div class="center_spot"></div>
                  </div>
                  <span
                    class="fs-14 fw-600 tab_text active"
                    id="employee_company_details"
                    data-bs-toggle="tab"
                    data-bs-target="#employee_company_details_panel"
                    role="tab"
                    aria-controls="employee_company_details_panel"
                    aria-selected="true">Upload Offer Letter Template</span
                  >
                </li>
                <li
                  class="tab_link d-flex gap-3 align-items-center tab_indicator"
                  role="presentation"
                >
                  <div class="flex-shrink-0">
                    <div class="center_spot"></div>
                  </div>
                  <span
                    class="fs-14 fw-600 tab_text"
                    id="salary_pay"
                    data-bs-toggle="tab"
                    data-bs-target="#salary_pay_panel"
                    role="tab"
                    aria-controls="salary_pay_panel"
                    aria-selected="false">Load & Review Offer Breakdown</span
                  >
                </li>
                <li
                  class="tab_link d-flex gap-3 align-items-center tab_indicator"
                  role="presentation"
                >
                  <div class="flex-shrink-0">
                    <div class="center_spot"></div>
                  </div>
                  <span
                    class="fs-14 fw-600 tab_text"
                    id="deductions"
                    data-bs-toggle="tab"
                    data-bs-target="#deductions_panel"
                    role="tab"
                    aria-controls="deductions_panel"
                    aria-selected="false">Complete Offer Letter Fields</span
                  >
                </li>
                <li
                  class="tab_link d-flex gap-3 align-items-center tab_indicator"
                  role="presentation"
                >
                  <div class="flex-shrink-0">
                    <div class="center_spot"></div>
                  </div>
                  <span
                    class="fs-14 fw-600 tab_text"
                    id="final_monthly"
                    data-bs-toggle="tab"
                    data-bs-target="#final_monthly_panel"
                    role="tab"
                    aria-controls="final_monthly_panel"
                    aria-selected="false">Create & Preview Offer Letter</span
                  >
                </li>
                <li
                  class="tab_link d-flex gap-3 align-items-center tab_indicator"
                  role="presentation"
                >
                  <div class="flex-shrink-0">
                    <div class="center_spot"></div>
                  </div>
                  <span
                    class="fs-14 fw-600 tab_text"
                    id="year_to_date"
                    data-bs-toggle="tab"
                    data-bs-target="#year_to_date_panel"
                    role="tab"
                    aria-controls="year_to_date_panel"
                    aria-selected="false">Send Offer Letter</span
                  >
                </li>
              </ul>
              <!-- Tab Panel -->
            </div>
            <!-- Tab content here -->
            <div class="flex-grow-1 border-start ps-md-5 ps-0 tab-content">
              <!-- Employee Details -->
              <div
                class="tab-pane fade active show"
                id="employee_company_details_panel"
                role="tabpanel"
                aria-labelledby="employee_company_details_panel"
                tabindex="0"
              >
                <div class="vstack" style="gap: 2.3rem">
                  <form
                    class="vstack gap-2 generate_payslip_form"
                    id="generate_payslip_form"
                  >
                    <div class="fs-14 fw-600">
                      Download the <a
                        style="color: #2271B6"
                        class="text-decoration-none"
                        href="/offer_letter_template.xls"
                        download>template here</a
                      > and upload the prepared file
                    </div>
                    <div
                      class="upload_bucket_panel p-3 d-flex flex-column align-items-center justify-content-center"
                    >
                      <img
                        src="images/png/icons/cloud_upload.svg"
                        width="35px"
                        height="35px"
                        alt="cloud upload icon"
                      />
                      <div class="fs-14 fw-700" style="color: #6B7280">
                        Click to upload <span class="fw-400"
                          >or drag and drop</span
                        >
                      </div>
                      <div class="fs-12 fw-700" style="color: #6B7280">
                        PDF or DOCX (Max File Size: 2MB)
                      </div>
                      <button
                        type="button"
                        id="fileInputBtn"
                        class="delon-primary-btn d-flex gap-2 bg-primary-blue border-0 text-white fs-14"
                      >
                        <img
                          src="images/png/icons/search.svg"
                          alt="arrow-down"
                        />
                        <span>Browse Files</span>
                      </button>
                      <div
                        id="fileInputDetails"
                        class="d-none flex-shrink-1 bg-transparent border text-wrap w-100 py-1 px-2 mt-2 rounded-3 fs-14 d-flex gap-1 align-items-center"
                        role="button"
                      >
                        <span class="flex-fill text-truncate"
                          >gvfyguytctrcjrct.webp</span
                        >
                        <span class="flex-fill">
                          <img
                            src="images/png/icons/close-circle-6.svg"
                            width="15"
                            height="15"
                            alt="close_icon"
                          />
                        </span>
                      </div>
                      <input type="file" class="d-none" id="fileInput" />
                    </div>
                  </form>

                  <div class="d-flex justify-content-end upload_offer">
                    <button
                      type="button"
                      id="salary_pay_next"
                      data-tab-target="#salary_pay"
                      role="tab"
                      aria-controls="salary_pay_panel"
                      aria-selected="false"
                      class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
                    >
                      <span>Next</span>
                    </button>
                  </div>
                </div>
              </div><!-- Upload Offer -->

              <!-- Load & Review Offer Breakdown Components -->
              <div
                class="tab-pane fade"
                id="salary_pay_panel"
                role="tabpanel"
                aria-labelledby="salary_pay_panel"
                tabindex="0"
              >
                <div class="vstack" style="gap: 2.3rem">
                  <div class="form-floating offer_breakdown_width">
                    <select
                      id="employment_type"
                      name="employment_type"
                      class="form-select_custom fs-14"
                      required
                    >
                      <option value="" selected>Select</option>
                      <option value="1">E1001</option>
                      <option value="2">E1002</option>
                      <option value="3">E1003</option>
                    </select>
                    <label for="employment_type"
                      >Employment ID &nbsp;<span>*</span></label
                    >
                  </div>

                  <div
                    class="d-flex flex-column gap-5 border d-none"
                    id="view_employee_details"
                  >
                    <div>
                      {
                        [
                          {
                            title: "Employee ID",
                            value: "E1001",
                          },
                          {
                            title: "Offer Letter Date",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Last Name",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Pay Grade",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Designation",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Employment Type",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Address",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Country of Work",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "State",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "City",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Postcode",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Branch Location",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Working Hours Per Week",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Resumption Date",
                            value: "Lorem Ipsum",
                          },

                          {
                            title: "Work Days",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Annual Leave",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Manager Name",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Annual Fixed Salary",
                            value: "Lorem Ipsum",
                          },
                        ].map((ele) => (
                          <div class="d-flex">
                            <div class="bg-primary-blue border border-top-0 text-white py-2 px-3 offer_breakdown_width">
                              {ele.title}
                            </div>
                            <div class="text-dark border border-top-0 py-2 px-3 offer_breakdown_width">
                              {ele.value}
                            </div>
                          </div>
                        ))
                      }
                    </div>
                    <div>
                      {
                        [
                          {
                            title: "Annual Gross Salary",
                            value: "E1001",
                          },
                          {
                            title: "Offer Letter Date",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Last Name",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Pay Grade",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Designation",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Employment Type",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Address",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Country of Work",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "State",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "City",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Postcode",
                            value: "Lorem Ipsum",
                          },
                        ].map((ele) => (
                          <div class="d-flex">
                            <div class="bg-primary-blue border border-top-0 text-white py-2 px-3 offer_breakdown_width">
                              {ele.title}
                            </div>
                            <div class="text-dark border border-top-0 py-2 px-3 offer_breakdown_width">
                              {ele.value}
                            </div>
                          </div>
                        ))
                      }
                    </div>
                    <div>
                      {
                        [
                          {
                            title: "Basic Salary",
                            value: "E1001",
                          },
                          {
                            title: "Offer Letter Date",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Last Name",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Pay Grade",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Designation",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Employment Type",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Address",
                            value: "Lorem Ipsum",
                          },
                          {
                            title: "Country of Work",
                            value: "Lorem Ipsum",
                          },
                        ].map((ele) => (
                          <div class="d-flex">
                            <div class="bg-primary-blue border border-top-0 text-white py-2 px-3 offer_breakdown_width">
                              {ele.title}
                            </div>
                            <div class="text-dark border border-top-0 py-2 px-3 offer_breakdown_width">
                              {ele.value}
                            </div>
                          </div>
                        ))
                      }
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end gap-4 mt-5">
                  <button
                    type="button"
                    id="employee_company_details_next"
                    data-tab-target="#employee_company_details"
                    role="tab"
                    aria-controls="employee_company_details_panel"
                    aria-selected="false"
                    class="white_button next_tab_btn"
                  >
                    <span>Back</span>
                  </button>

                  <button
                    type="button"
                    id="deductions_next"
                    data-tab-target="#deductions"
                    role="tab"
                    aria-controls="deductions_panel"
                    aria-selected="false"
                    class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
                  >
                    <span>Next</span>
                  </button>
                </div>
              </div><!-- Load & Review Offer Breakdown Components -->

              <!-- Complete Offer Letter Panel -->
              <div
                class="tab-pane fade"
                id="deductions_panel"
                role="tabpanel"
                aria-labelledby="deductions_panel"
                tabindex="0"
              >
                <div class="vstack" style="gap: 2.3rem">
                  <div class="form-floating">
                    <select
                      id="employment_type"
                      name="employment_type"
                      class="form-select_custom fs-14"
                      required
                    >
                      <option
                        value=""
                        selected
                        style="color: rgb(200, 200, 200)">Select</option
                      >
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                    <label for="employment_type"
                      >Is Employee Full-Time? &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating">
                    <select
                      id="contract_type"
                      name="contract_type"
                      class="form-select_custom fs-14"
                      required
                    >
                      <option
                        value=""
                        selected
                        style="color: rgb(200, 200, 200)">Select</option
                      >
                      <option value="3">3 Months</option>
                      <option value="6">6 Months</option>
                    </select>
                    <label for="employment_type"
                      >Contract Duration &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating">
                    <select
                      id="probation_period"
                      name="probation_period"
                      class="form-select_custom fs-14"
                      required
                    >
                      <option
                        value=""
                        selected
                        style="color: rgb(200, 200, 200)">Select</option
                      >
                      <option value="1">1 Months</option>
                      <option value="2">2 Months</option>
                    </select>
                    <label for="employment_type"
                      >Probation Period &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating">
                    <select
                      id="hr_name"
                      name="hr_name"
                      class="form-select_custom fs-14"
                      required
                    >
                      <option
                        value=""
                        selected
                        style="color: rgb(200, 200, 200)">Select</option
                      >
                      <option value="warren">Warren</option>
                      <option value="wade">Wade</option>
                    </select>
                    <label for="employment_type"
                      >HR Name &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating">
                    <input
                      type="text"
                      id="hr_designation"
                      name="hr_designation"
                      class="form-input"
                      placeholder=""
                    />
                    <label for="fullname"
                      >HR Designation &nbsp;<span>*</span></label
                    >
                  </div>
                  <div class="form-floating">
                    <input
                      type="text"
                      id="hr_number"
                      name="hr_number"
                      class="form-input"
                      placeholder=" "
                    />
                    <label for="fullname"
                      >HR Phone Number &nbsp;<span>*</span></label
                    >
                  </div>
                </div>

                <div class="d-flex justify-content-end gap-4 mt-5">
                  <button
                    type="button"
                    id="salary_pay_back"
                    data-tab-target="#salary_pay"
                    role="tab"
                    aria-controls="salary_pay_panel"
                    aria-selected="false"
                    class="white_button next_tab_btn"
                  >
                    <span>Back</span>
                  </button>

                  <button
                    type="button"
                    id="final_monthly_next"
                    data-tab-target="#final_monthly"
                    role="tab"
                    aria-controls="final_monthly_panel"
                    aria-selected="false"
                    class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
                  >
                    <span>Next</span>
                  </button>
                </div>
              </div><!-- Complete Offer Letter Panel -->

              <!-- Create & Preview Offer Letter Panel -->
              <div
                class="tab-pane fade"
                id="final_monthly_panel"
                role="tabpanel"
                aria-labelledby="final_monthly_panel"
                tabindex="0"
              >
                <div
                  class="d-flex align-items-center justify-content-between gap-4 mb-5"
                >
                  <div class="fs-18 fw-700 text-primary-blue">
                    Preview Offer Letter
                  </div>
                  <div class="d-flex justify-content-end">
                    <button
                      type="button"
                      id="deductions_back"
                      data-tab-target="#deductions"
                      role="tab"
                      aria-controls="deductions_panel"
                      aria-selected="false"
                      class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
                    >
                      <span>Go Back to Offer Breakdown</span>
                    </button>
                  </div>
                </div>
                <!---- Preview --->
                <div className="d-flex justify-content-center">
                  <img
                    class="preview-img"
                    src="images/png/icons/download-view.svg"
                    alt="download view"
                  />
                </div>

                <div class="d-flex justify-content-end gap-4 mt-5">
                  <button
                    type="button"
                    id="deductions_back"
                    data-tab-target="#deductions"
                    role="tab"
                    aria-controls="deductions_panel"
                    aria-selected="false"
                    class="white_button next_tab_btn"
                  >
                    <span>Back</span>
                  </button>

                  <button
                    type="button"
                    id="year_to_date_next"
                    data-tab-target="#year_to_date"
                    role="tab"
                    aria-controls="year_to_date_panel"
                    aria-selected="false"
                    class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
                  >
                    <span>Next</span>
                  </button>
                </div>
              </div><!-- Create & Preview Offer Letter Panel -->

              <!-- Send Offer Letter -->
              <div
                class="tab-pane fade"
                id="year_to_date_panel"
                role="tabpanel"
                aria-labelledby="year_to_date_panel"
                tabindex="0"
              >
                <div
                  class="d-flex align-items-center justify-content-between gap-4 mb-5"
                >
                  <div class="fs-18 fw-700 text-primary-blue">
                    Send Offer Letter
                  </div>
                  <div class="d-flex gap-3 justify-content-end">
                    <button
                      type="button"
                      id="year_to_date_back"
                      data-tab-target="#final_monthly"
                      role="tab"
                      aria-controls="final_monthly_panel"
                      aria-selected="false"
                      class="fw-bold fs-14 next_tab_btn"
                      style="background: white; color: #2271B6 !important; border: 1.5px solid #2271B6 !important; padding: 10px 20px; border-radius: 10px"
                    >
                      <span>Back</span>
                    </button>
                    <button
                      type="button"
                      class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold fs-14 next_tab_btn"
                    >
                      <span>Send Offer Letter</span>
                    </button>
                  </div>
                </div>
                <!----- preview --->
                <div className="d-flex justify-content-center">
                  <img
                    class="preview-img"
                    src="images/png/icons/download-view.svg"
                    alt="download view"
                  />
                </div>
              </div><!-- Send Offer Letter -->
            </div>
            <!-- Tab content here -->
          </form>
          {/* Page Content Box */}
        </div>
      </div>
    </section>
    <PayslipGeneratePreview />
  </main>
  <!-- Main content ends here -->

  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      $(".tab_indicator").click((evt) => {
        const clickedTab = evt.currentTarget;
        $(".tab_indicator").removeClass("active");
        $(".tab_indicator").prop("aria-selected", "false");
        $(clickedTab).addClass("active");
        $(clickedTab).prop("aria-selected", "true");
      });

      $("#creat_payslip_form").submit((evt) => {
        evt.preventDefault();

        alert("Create payslip!!!");
      });

      $(".next_tab_btn").click((evt) => {
        const clickedBtn = evt.currentTarget;
        const targetTab = $(clickedBtn).attr("data-tab-target");

        $(targetTab).click();
      });

      $(".switchForDeductionsFields").click(function (evt) {
        const selectState = $(evt.target).prop("checked");
        console.log(
          $(
            $($($($(evt.target).parent()).parent()[0]).siblings()[0]).children(
              "input",
            )[0],
          ).prop("disabled", !selectState),
        );
      });

      $("#fileInputBtn").click((evt) => {
        $("#fileInput").click();
      });

      document
        .getElementById("fileInput")
        .addEventListener("change", function () {
          if (fileInput.files.length > 0) {
            const fileName = fileInput.files[0].name;
            $("#fileInputDetails span:first-child").text(fileName);
            $("#fileInputDetails").removeClass("d-none");
            $("#fileInputBtn").addClass("d-none");
            console.log("Selected file name:", fileName);
          }
        });
      $("#fileInputDetails span:nth-child(2)").click(() => {
        $("#fileInput").val("");
        $("#fileInputDetails span:first-child").text("");
        $("#fileInputDetails").addClass("d-none");
        $("#fileInputBtn").removeClass("d-none");
      });

      $("#viewPayslpBtn").click((evt) => {
        $("#view_employee_payslip").removeClass("d-none");
        $("#create_payslip").addClass("d-none");
      });

      $("#employment_type").on("change", function () {
        const selectedValue = $(this).val();
        if (selectedValue) {
          $("#view_employee_details").removeClass("d-none");
        }
      });
    });
  </script>
</Layout>
