---
import Layout from "../layouts/Layout.astro";
---

<Layout title="HRPayHub :: Full Payment Submission - UK">
  <!-- Main content starts here -->
  <main>
    <!-- First section of Back button and Breadcrumb -->
    <section class="p-4">
      <div class="screenFrame">
        <!-- Back Navigation button and BreadCrumbs -->
        <div class="d-flex gap-5">
          <a
            href="index.html"
            title="Back to Dashboard"
            class="d-flex gap-2 align-items-center text-decoration-none text-primary-dark"
          >
            <img src="images/png/icons/angle-left.svg" alt="angle-left-back" />
            <span class="fs-16 fw-bold font-avenir-bold">Back</span>
          </a>

          <!-- Actual Breadcrumb here -->
          <div class="d-flex align-items-center gap-2">
            <a
              href="index.html"
              class="fs-14 text-decoration-none text-primary-dark">Dashboard</a
            >

            <img
              src="images/png/icons/angle-right.svg"
              alt="angle-right-back"
            />
            <span class="fs-16 fw-bold text-primary-blue"
              >Full Payment Submission - UK</span
            >
          </div>
          <!-- Actual Breadcrumb here -->
        </div>
        <!-- Back Navigation button and BreadCrumbs -->
      </div>
    </section>
    <!-- First section of Back button and Breadcrumb -->

    <!-- First section of Back button and Breadcrumb -->
    <section class="px-4" id="manage_submission">
      <div class="screenFrame">
        <div class="rounded-4 shadow p-4 vstack gap-5 px-5">
          {/* Page Content Box */}
          <div class="p-lg-5">
            <div class="vstack" style="gap: 2.3rem">
              <!---- Setup --->
              <div class="d-flex align-items-center gap-4 add_employee_width">
                <div class="fs-14 fw-600 text-primary-blue">FPS Input Form</div>
                <div class="flex-grow-1">
                  <div class="demarcator_line">&nbsp;</div>
                </div>
              </div>

              <!---- body ---->
              <form class="vstack" style="gap: 2.3rem" id="generate_submission">
                <div class="form-floating add_employee_width">
                  <input
                    type="text"
                    id="epr"
                    name="epr"
                    class="form-input"
                    placeholder=""
                    required
                  />
                  <label for="epr"
                    >Employer PAYE Reference &nbsp;<span>*</span></label
                  >
                </div>
                <div class="form-floating add_employee_width">
                  <input
                    type="text"
                    id="aor"
                    name="aor"
                    class="form-input"
                    placeholder=""
                    required
                  />
                  <label for="aor"
                    >Accounts Office Reference &nbsp;<span>*</span></label
                  >
                </div>
                <div class="form-floating add_employee_width">
                  <input
                    type="text"
                    id="emp_name"
                    name="emp_name"
                    class="form-input"
                    placeholder=""
                    required
                  />
                  <label for="emp_name"
                    >Employer Name &nbsp;<span>*</span></label
                  >
                </div>
                <div class="form-floating add_employee_width">
                  <select
                    id="tax-year"
                    name="tax-year"
                    class="form-select_custom fs-14"
                    required
                  >
                    <option value="" selected> Select </option>
                    <option value="1">Retail</option>
                    <option value="2">Primary</option>
                    <option value="3">Tertiary</option>
                  </select>
                  <label for="tax-year">
                    Tax Year &nbsp;<span>*</span>
                  </label>
                </div>
                <div class="form-floating add_employee_width">
                  <input
                    type="date"
                    id="gpd"
                    name="gpd"
                    class="form-input"
                    placeholder=""
                    required
                  />
                  <label for="gpd"
                    >Global Payment Date &nbsp;<span>*</span></label
                  >
                </div>
                <div class="form-floating add_employee_width">
                  <select id="dpf" name="dpf" class="form-select_custom fs-14">
                    <option value="" selected> Select </option>
                    <option value="1">Monthly</option>
                    <option value="2">Weekly</option>
                    <option value="3">Forthnightly</option>
                    <option value="4">4-weekly</option>
                  </select>
                  <label for="dpf"> Default Pay Frequency </label>
                </div>
                <div class="form-floating add_employee_width">
                  <select
                    id="tax-code"
                    name="tax-code"
                    class="form-select_custom fs-14"
                    required
                  >
                    <option value="" selected> Select </option>
                    <option value="1">1257L (default)</option>
                    <option value="2">BR</option>
                    <option value="3">0T</option>
                    <option value="4">D0</option>
                    <option value="5">D1</option>
                    <option value="6">NT</option>
                  </select>
                  <label for="tax-code">
                    Default Tax Code &nbsp;<span>*</span>
                  </label>
                </div>

                <!---- submit ---->
                <div class="d-flex justify-content-end add_employee_width">
                  <button
                    type="submit"
                    id="upload"
                    class="delon-primary-btn bg-primary-blue border-0 text-white fw-bold expense_button"
                  >
                    <span>Generate</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {/* Page Content Box */}
      </div>
    </section>

    <section class="px-4 d-none" id="view_submission">
      <div class="screenFrame">
        <div class="rounded-4 shadow p-4 vstack gap-3 px-lg-5">
          {/* Page Title */}
          <div class="vstack gap-3">
            <div class="d-flex gap-3 align-items-center">
              <span class="text-dark font-ubuntu-bold fs-18 inline-block"
                >Full Payment Submission</span
              >
            </div>
          </div>
          {/* Page Title */}

          {/* Page Content Box */}

          <div class="">
            <div class="d-flex flex-row justify-content-between gap-5">
              <!---- Search  -->
              <div class="d-flex gap-3">
                <input
                  type="text"
                  class="form-control search-input search-width fs-14"
                  placeholder="Search..."
                />
              </div>

              <!-- Others -->
              <div class="responsive gap-2">
                <!-- Calendar Selector -->
                <input
                  type="month"
                  class="form-control fs-14"
                  style="width: 150px;"
                  value="2025-08"
                />

                <!-- Filter Dropdown -->

                <style>
                  .dropdown-submenu {
                    position: relative;
                  }

                  /* Accordion style: drop below, not to the right */
                  .dropdown-submenu > .dropdown-menu {
                    position: static;
                    float: none;
                    margin-top: 0.5rem;
                    padding-left: 1rem;
                    display: none;
                  }

                  .dropdown-submenu > .dropdown-menu.show {
                    display: block;
                  }

                  /* a small caret indicator */
                  .dropdown-submenu > a::after {
                    content: " ";
                    float: right;
                  }
                </style>

                <div class="dropdown">
                  <button
                    class="delon-primary-btn bg-white border dropdown-toggle dropdown-no-arrow d-flex align-items-center gap-2 fs-14"
                    type="button"
                    data-bs-toggle="dropdown"
                    data-bs-offset="-20,10"
                  >
                    <img src="images/png/icons/filter.svg" alt="arrow-down" />
                    <span>Filter</span>
                  </button>
                  <ul class="dropdown-menu" style="min-width:250px">
                    <li
                      class="d-flex flex-row justify-content-between px-3 py-2 border-bottom fs-14"
                    >
                      <span class="fw-bold">Filter</span>
                      <span class="fw-bold text-primary-blue">Reset Filter</span
                      >
                    </li>
                    <!-- Designation Submenu -->
                    <li class="dropdown-submenu border-bottom">
                      <a class="dropdown-item dropdown-toggle fs-14" href="#"
                        >Designation</a
                      >
                      <ul class="dropdown-menu border-0 fs-14">
                        <li>
                          <label class="form-check-label">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              name="category 1"
                            /> Category 1
                          </label>
                        </li>
                        <li>
                          <label class="form-check-label">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              name="category 2"
                            /> Category 2
                          </label>
                        </li>
                        <li>
                          <label class="form-check-label">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              name="category 2"
                            /> Category 2
                          </label>
                        </li>
                      </ul>
                    </li>

                    <!-- Employment Status Submenu -->
                    <li class="dropdown-submenu border-bottom">
                      <a class="dropdown-item dropdown-toggle fs-14" href="#"
                        >Employment Status</a
                      >
                      <ul class="dropdown-menu border-0 fs-14">
                        <li>
                          <label class="form-check-label">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              name="employed"
                            /> Employed
                          </label>
                        </li>
                        <li>
                          <label class="form-check-label">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              name="unemployed"
                            /> Unemployed
                          </label>
                        </li>

                        <li>
                          <label class="form-check-label">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              name="contract"
                            /> Contract
                          </label>
                        </li>
                      </ul>
                    </li>

                    <!-- Country of Work Submenu -->
                    <li class="dropdown-submenu border-bottom">
                      <a class="dropdown-item dropdown-toggle fs-14" href="#"
                        >Country of Work</a
                      >
                      <ul class="dropdown-menu border-0 fs-14">
                        <li>
                          <label class="form-check-label">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              name="usa"
                            /> USA
                          </label>
                        </li>
                        <li>
                          <label class="form-check-label">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              name="uk"
                            /> UK
                          </label>
                        </li>
                        <li>
                          <label class="form-check-label">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              name="Nigeria"
                            /> Nigeria
                          </label>
                        </li>
                      </ul>
                    </li>

                    <!-- apply filter button -->
                    <li
                      class="d-flex flex-row justify-content-end px-3 py-2 mt-2"
                    >
                      <button
                        type="submit"
                        class="delon-primary-btn bg-primary-blue border-0 text-white fs-14"
                      >
                        <span>Apply Filter</span>
                      </button>
                    </li>
                  </ul>
                </div>

                <!-- Sort Dropdown -->

                <div class="dropdown">
                  <button
                    class="delon-primary-btn bg-white border fw-600 fs-14 dropdown-toggle dropdown-no-arrow d-flex align-items-center gap-2"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-offset="-20,10"
                  >
                    <img src="images/png/icons/sort.svg" alt="arrow-down" />
                    <span>Sort</span>
                  </button>
                  <div
                    class="dropdown-menu p-0 border-0"
                    style="min-width:200px"
                  >
                    <ul class="list-group border-0 fw-600 fs-14">
                      <li class="list-group-item">
                        <span class="fw-bold">Sort</span>
                      </li>
                      <li class="list-group-item">
                        <label class="form-check-label">
                          <input
                            type="radio"
                            class="form-check-input"
                            name="optradio"
                          /> Alphabetically
                        </label>
                      </li>
                      <li class="list-group-item">
                        <label class="form-check-label">
                          <input
                            type="radio"
                            class="form-check-input"
                            name="optradio"
                          /> Date of Resumption
                        </label>
                      </li>
                      <li class="list-group-item">
                        <label class="form-check-label">
                          <input
                            type="radio"
                            class="form-check-input"
                            name="optradio"
                          /> Date of Confirmation
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- Download Dropdown -->

                <div class="dropdown">
                  <button
                    class="delon-primary-btn bg-primary-blue border-0 text-white fw-600 fs-14 dropdown-toggle dropdown-no-arrow d-flex align-items-center gap-2"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-offset="-20,10"
                  >
                    <img src="images/png/icons/download.svg" alt="arrow-down" />
                    <span>Download</span>
                    <img
                      src="images/png/icons/arrow-down.svg"
                      alt="arrow-down"
                    />
                  </button>
                  <div class="dropdown-menu p-0 border-0">
                    <ul class="list-group border-0 fw-600 fs-14">
                      <li class="list-group-item">
                        <div>CSV</div>
                      </li>
                      <li class="list-group-item">
                        <div>Excel</div>
                      </li>
                      <li class="list-group-item">
                        <div>PDF</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!---- End of Others ---->
            </div>
          </div>

          {/* Page Content Box */}

          <!-- Scrollable Table -->
          <div
            class="table-responsive"
            style="max-height: 600px; overflow: auto;"
          >
            <table class="table table-bordered table-hover">
              <!---- Table head --->
              <thead
                class="bg-primary-blue text-white px-4 fw-600 fs-14 text-nowrap"
              >
                <tr>
                  <th
                    class="bg-primary-blue text-white px-3 w-600 fs-14 text-left"
                    style="min-width: 200px;"
                    >Payroll ID
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-left"
                    style="min-width: 200px;">Employee Name</th
                  >
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-center"
                    >Employee NI Number
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-center"
                    >Date of Birth
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-center"
                  >
                    NI Category Letter
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >Tax Code
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                  >
                    Pay Frequency
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                  >
                    Payment Date
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >Starter/Leaver Status
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                  >
                    Student Loan Plan
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >Postgraduate Loan
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >Gross Pay (Period)
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >Gross Pay (YTD)
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >Tax Deducted (Period)
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >Tax Deducted (YTD)
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >NI Contribution (Period)
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >NI Contribution (YTD)
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >Employee Pension (Period)
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >Employee Pension (YTD)
                  </th>
                  <th
                    class="bg-primary-blue text-white px-3 fw-600 fs-14 text-nowrap text-center"
                    >Net Pay Period
                  </th>
                </tr>
              </thead>

              <tbody>
                <!-- Table body and Row -->
                <style>
                  .column {
                    min-width: 180px;
                  }
                  .column2 {
                    min-width: 250px;
                  }
                </style>
                {
                  [
                    {
                      emp_id: "N12343534",
                      emp_name: "Wade Warren",
                      contracted_monthly_hours: "N12343534",
                      monthly_hours_worked: "5, June 1960",
                      overtime_hours: "A",
                      overtime_approval: "£2,500",
                      overtime_rate_multiplier: "1",
                      holiday_hours: "9, Apr 2025",
                      holiday_hours_approval: "£2,500",
                      holiday_rate_multiplier: "1",
                      salary_hours: "180 Hrs",
                    },
                    {
                      emp_id: "N12343534",
                      emp_name: "Wade Warren",
                      contracted_monthly_hours: "N12343534",
                      monthly_hours_worked: "5, June 1960",
                      overtime_hours: "A",
                      overtime_approval: "£2,500",
                      overtime_rate_multiplier: "1",
                      holiday_hours: "9, Apr 2025",
                      holiday_hours_approval: "£2,500",
                      holiday_rate_multiplier: "1",
                      salary_hours: "N12343534",
                    },
                    {
                      emp_id: "N12343534",
                      emp_name: "Wade Warren",
                      contracted_monthly_hours: "N12343534",
                      monthly_hours_worked: "5, June 1960",
                      overtime_hours: "A",
                      overtime_approval: "£2,500",
                      overtime_rate_multiplier: "1",
                      holiday_hours: "9, Apr 2025",
                      holiday_hours_approval: "£2,500",
                      holiday_rate_multiplier: "1",
                      salary_hours: "N12343534",
                    },
                    {
                      emp_id: "N12343534",
                      emp_name: "Wade Warren",
                      contracted_monthly_hours: "N12343534",
                      monthly_hours_worked: "5, June 1960",
                      overtime_hours: "A",
                      overtime_approval: "£2,500",
                      overtime_rate_multiplier: "1",
                      holiday_hours: "9, Apr 2025",
                      holiday_hours_approval: "£2,500",
                      holiday_rate_multiplier: "1",
                      salary_hours: "N12343534",
                    },
                    {
                      emp_id: "N12343534",
                      emp_name: "Wade Warren",
                      contracted_monthly_hours: "N12343534",
                      monthly_hours_worked: "5, June 1960",
                      overtime_hours: "A",
                      overtime_approval: "£2,500",
                      overtime_rate_multiplier: "1",
                      holiday_hours: "9, Apr 2025",
                      holiday_hours_approval: "£2,500",
                      holiday_rate_multiplier: "1",
                      salary_hours: "N12343534",
                    },
                    {
                      emp_id: "N12343534",
                      emp_name: "Wade Warren",
                      contracted_monthly_hours: "N12343534",
                      monthly_hours_worked: "5, June 1960",
                      overtime_hours: "A",
                      overtime_approval: "£2,500",
                      overtime_rate_multiplier: "1",
                      holiday_hours: "9, Apr 2025",
                      holiday_hours_approval: "£2,500",
                      holiday_rate_multiplier: "1",
                      salary_hours: "N12343534",
                    },
                    {
                      emp_id: "N12343534",
                      emp_name: "Wade Warren",
                      contracted_monthly_hours: "N12343534",
                      monthly_hours_worked: "5, June 1960",
                      overtime_hours: "A",
                      overtime_approval: "£2,500",
                      overtime_rate_multiplier: "1",
                      holiday_hours: "9, Apr 2025",
                      holiday_hours_approval: "£2,500",
                      holiday_rate_multiplier: "1",
                      salary_hours: "N12343534",
                    },
                  ].map((ele, index) => (
                    <tr class="fs-88">
                      <td class="fs-14 text-nowrap px-3 text-left column">
                        {ele.emp_id}
                      </td>
                      <td class="fs-14 px-3 text-left column">
                        {ele.emp_name}
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.contracted_monthly_hours}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.monthly_hours_worked}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.overtime_hours}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <select
                            class="form-select border-0 fs-14 text-nowrap"
                            id="add_text"
                            style="width: 100px;"
                          >
                            <option value="1">1257L</option>

                            <option value="2">BR</option>
                            <option value="3">0T</option>
                            <option value="4">D0</option>
                            <option value="5">D1</option>
                            <option value="6">NT</option>
                          </select>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <select
                            class="form-select border-0 fs-14 text-nowrap"
                            id="add_text"
                            style="width: 100px;"
                          >
                            <option value="1">Monthly</option>
                            <option value="2">Weekly</option>
                            <option value="3">Forthnightly</option>
                            <option value="4">4-weekly</option>
                          </select>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.holiday_hours}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <select
                            class="form-select border-0 fs-14 text-nowrap"
                            id="add_text"
                            style="width: 100px;"
                          >
                            <option value="1">None</option>
                            <option value="2">Starter</option>
                            <option value="3">Leaver</option>
                          </select>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center d-flex justify-content-center gap-2 bg-light column">
                        <div class="d-flex justify-content-center gap-3">
                          <select
                            class="form-select border-0 fs-14 text-nowrap"
                            id="add_text"
                            style="width: 100px;"
                          >
                            <option value="none">None</option>
                            <option value="1" selected>
                              Plan 1
                            </option>
                            <option value="2">Plan 2</option>
                            <option value="3">Plan 3</option>
                            <option value="4">Plan 4</option>
                          </select>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <select
                            class="form-select border-0 fs-14 text-nowrap"
                            id="add_text"
                            style="width: 100px;"
                          >
                            <option value="1" selected>
                              Yes
                            </option>
                            <option value="2">No</option>
                          </select>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.overtime_approval}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.overtime_approval}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.overtime_approval}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.overtime_approval}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.overtime_approval}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.overtime_approval}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.overtime_approval}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.overtime_approval}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                      <td class="fs-14 px-3 text-center column">
                        <div class="d-flex justify-content-center gap-3">
                          <div>{ele.overtime_approval}</div>
                          <div style={{ cursor: "pointer" }}>
                            <img
                              src="images/png/icons/colored/edit-2.svg"
                              alt="edit_icon"
                              data-bs-html="true"
                              data-bs-placement="top"
                              data-bs-toggle="tooltip"
                              data-bs-custom-class="tooltip-left-align"
                              title="<div><div><em style = 'font-size: 7px;'>Edit</em></div></div>"
                            />
                          </div>
                        </div>
                      </td>
                    </tr>
                  ))
                }

                <!-- Repeat for more employees -->
              </tbody>
            </table>
          </div>
        </div>

        <!---- End of table --->

        <!-- Pagination Row -->
        <div
          class="d-flex justify-content-between align-items-center m-2 flex-wrap gap-3 pt-3"
        >
          <!-- Left: Pagination Text -->
          <div class="fs-14 text-muted">
            Showing <strong>1–20</strong> of <strong>1000</strong>
          </div>

          <!-- Right: Go to Page + Pagination -->
          <div class="d-flex align-items-center gap-3 flex-wrap">
            <!-- Go to Page -->
            <form class="d-flex align-items-center gap-2">
              <label for="gotoPage" class="fs-14 mb-0">Go to page?</label>
              <input
                type="number"
                min="1"
                max="100"
                id="gotoPage"
                class="form-control form-control-sm"
                style="width: 60px;"
                placeholder="—"
              />
            </form>

            <!-- Page Navigation -->

            <nav>
              <ul class="pagination pagination-sm mb-0 text-primary-blue">
                <li class="page-item">
                  <a
                    class="page-link text-primary-blue px-2"
                    href="#"
                    aria-label="Previous"
                  >
                    &lsaquo;
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link text-primary-blue" href="#">1</a>
                </li>
                <li class="page-item active" aria-current="page">
                  <span class="page-link">2</span>
                </li>
                <li class="page-item">
                  <a class="page-link text-primary-blue" href="#">3</a>
                </li>
                <li class="page-item disabled">
                  <span class="page-link text-primary-blue">...</span>
                </li>
                <li class="page-item">
                  <a class="page-link text-primary-blue" href="#">100</a>
                </li>
                <li class="page-item">
                  <a class="page-link hello" href="#" aria-label="Next">
                    &rsaquo;
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!---- Pagination ---->
      </div>
    </section>
  </main>

  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      document
        .getElementById("generate_submission")
        ?.addEventListener("submit", (e) => {
          e.preventDefault();

          $("#view_submission").addClass("d-none");
          const submitBtn = e.target.querySelector("button");

          submitBtn.innerHTML = `
                        <span>
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status">Loading...</span>
                        </span>
                    `;
          submitBtn.disabled = true;

          setTimeout(() => {
            submitBtn.innerHTML = `
                            <span>Generate</span>
                        `;
            submitBtn.disabled = false;
            $("#manage_submission").addClass("d-none");
            $("#view_submission").removeClass("d-none");
          }, 500);
        });

      $("#back_to_submission").click((evt) => {
        $("#view_submission").addClass("d-none");
        $("#manage_submission").removeClass("d-none");
      });

      $("#fileInputBtn").click((evt) => {
        $("#fileInput").click();
      });
    });
  </script>

  <!-- Main content ends here -->
</Layout>
